version: '3.8'

services:
  # --- SERVICIO DE BASE DE DATOS ---
  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"

  # --- SERVICIO DE BACKEND (API) ---
  backend:
    build: ./backend
    volumes:
      - ./backend/app:/code/app  # ¡Hot Reload! Cambias código y se actualiza solo
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  # --- SERVICIO DE ADMINISTRACIÓN (Visual) ---
  pgadmin:
    image: dpage/pgadmin4
    env_file:
      - .env
    ports:
      - "5050:80"
    depends_on:
      - db

  # --- NUEVO SERVICIO: FRONTEND ---
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app           # Hot Reload: Cambias código en Windows y se actualiza en Docker
      - /app/node_modules         # Truco: Usa los módulos de Linux dentro de Docker, no los de Windows
    environment:
      - VITE_API_URL=http://localhost:8000
    depends_on:
      - backend
volumes:
  postgres_data: