# Configuraci칩n est치tica de Traefik
api:
  dashboard: true
  insecure: true  # Para desarrollo - en producci칩n usar autenticaci칩n

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

log:
  level: INFO

accessLog: {}
